

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Lexend+Deca:wght@100&family=Poppins:wght@500;700&display=swap');
body{
    background-color: hsl(0, 100%, 74%);
    background-image: url("bg-intro-desktop.png");
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
}

p{
    font-size: 13px;
    font-weight: 500;
}


.formBox{
    padding: 50px;
    margin-top: 15px;
    background-color: white; 
    border-radius: 7px;
    color:hsl(249, 10%, 26%);
}

.main{
    width: 450px;
    margin-top: 90px;
    margin-left: 100px; 
    display: flex;
    flex-direction: column;
}

.container{
    display: flex; 
    flex-direction: row; 
    width: 100%;
}

.boxTop{
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 40px;
}

button{
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    margin-top: 15px;
    height: 40px;
    width: 355px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

input{
    height: 35px;
    width: 325px;
    border-radius: 4px;
    border-width: thin;
    border-color: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    padding-left: 27px;
}

footer{
    font-size: 9px;
    padding-top: 16px;
    padding-left: 30px;
    color: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
}


.text{
    color: white;
    margin-top: 200px;
    margin-left: 180px;
    font-family: 'Poppins', sans-serif;
    width: 500px;
}

@media screen and (max-width:600px){
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
