
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Lexend+Deca:wght@100&family=Poppins:wght@500;700&display=swap');
body{
    background-color: hsl(0, 100%, 74%);
    background-image: url("bg-intro-desktop.png");
    position: relative;
    width: 100%;
    height: 100;
}

h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 900;
}

p{
    font-size: 13px;
    font-weight: 500;
}


.formBox{
    padding: 50px;
    margin-top: 15px;
    background-color: white; 
    border-radius: 7px;
    color:hsl(249, 10%, 26%)
}

.container{
    width: 450px;
    display: flex;
    margin-top: 90px;
    margin-left: 700px;  
    flex-direction: column;   
}

.boxTop{
    background-color: hsl(248, 32%, 49%);
    color: white;
    border-radius: 7px;
    text-align: center ;
    font-family: 'Poppins', sans-serif;
}

button{
    background-color: hsl(154, 59%, 51%);
    color: white;
    border: none;
    margin-top: 15px;
    height: 40px;
    width: 355px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

input{
    height: 35px;
    width: 325px;
    border-radius: 4px;
    border-width: thin;
    border-color: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
    padding-left: 27px;
}

footer{
    font-size: 9px;
    padding-top: 16px;
    padding-left: 30px;
    color: hsl(246, 25%, 77%);
    font-family: 'Poppins', sans-serif;
}


.text{
    color: white;
    margin-top: 120px;
    margin-left: 200px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
}


